<!DOCTYPE HTML>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Ships Locations</title>
	<link rel="stylesheet" href="games1.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<link rel='stylesheet' href='https://use.fontawesome.com/releases/v5.7.0/css/all.css' integrity='sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ'
	 crossorigin='anonymous'>
</head>

<body>

	<div id="app">

		<header>
			<video autoplay="autoplay" loop="loop" id="video_backgroundGame" preload="auto" />
			<source src="media/Free_Background_Motion_Loop(youtube.com).mp4" type="video/mp4" />
			</video />

			<h1 class="header">SALVO GAME
				<audio autoplay onload>
					<source src="media/bensound-epic.mp3">
				</audio>
				<button class="buttonAudio" v-on:click="audioPause"><i class="material-icons">pause_circle_filled</i></button>
				<button class="buttonAudio" v-on:click="audioPlay"><i class="material-icons">play_circle_filled</i></button>
			</h1>
			<form id="logout" onsubmit="return false">
				<button v-show="logouts" v-on:click="logout">LOGOUT</button>
				<button v-on:click="backMenu">BACK</button>

			</form>
		</header>

		<div @drop="drop" @dragover="allowDrop" class="repositorySpaceShips">

			<div class="divDragHor" id="PatrolBoat" draggable="true" @dragstart="drag">
				<div class="div1Hor"><button @click="rotation('PatrolBoat')"><i class='fas fa-redo'></i></button></div>
				<div class="div2Hor"></div>
			</div>

			<div class="divDragHor" id="Destroyer" draggable="true" @dragstart="drag">
				<div class="div1Hor"><button @click="rotation('Destroyer')"><i class='fas fa-redo'></i></button></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
			</div>

			<div class="divDragHor" id="Submarine" draggable="true" @dragstart="drag">
				<div class="div1Hor"><button @click="rotation('Submarine')"><i class='fas fa-redo'></i></button></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
			</div>

			<div class="divDragHor" id="Battleship" draggable="true" @dragstart="drag">
				<div class="div1Hor"><button @click="rotation('Battleship')"><i class='fas fa-redo'></i></button></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
			</div>

			<div  class="divDragHor" id="AircraftCarrier" draggable="true" @dragstart="drag">
				<div class="div1Hor"><button @click="rotation('AircraftCarrier')"><i class='fas fa-redo'></i></button></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
				<div class="div2Hor"></div>
			</div>
			
	</div>
	<button v-on:click="putShips">Save Your Ships</button>

	<div class="twoTables">
		<div>
			<table class="containerA">
				<tbody class="container2">
					<tr>
						<th class="box" v-for="number in numbers">{{number}}</th>
					</tr>
					<tr v-for="letter in letters">
						<td  class="box">{{letter}}</td>
						<td   @dragenter="dragEnter" @drop="drop" @dragover="allowDrop" class="box" v-for="i in 10" v-bind:id="letter + i"></td>
					</tr>
				</tbody>
			</table>
		</div>

		<div>
			<table class="containerB">
				<tbody class="container2">
					<tr>
						<th class="box" v-for="number in numbers">{{number}}</th>
					</tr>
					<tr v-for="letter in letters">
						<td class="box">{{letter}}</td>
						<td class="box" v-for="i in 10" v-bind:id="2 + letter + i"></td>
					</tr>
				</tbody>
			</table>
		</div>
		

	</div>
	<h3 class="youVsOponnent">-{{local.email}}- VS -{{oponnent.email}}-</h3>
	</div>
</body>

<script src="https://unpkg.com/vue/dist/vue.js"></script>
<script src="game.js"></script>

</html>